In [332]:
#Classification Problem
import numpy as np
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score 
regr=LogisticRegression()

In [333]:
path_train="ML/train1.csv"
path_test="ML/test1.csv"
path_out="ML/sample_submission.csv"
df = pd.read_csv(path_train)
df_test = pd.read_csv(path_test)
print(df_train.info())
df.isnull().sum()

#df_train =df_train.drop(['Gender'])
#df_train

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        614 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           614 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB
None

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [334]:
df.Gender.fillna('Male',inplace =True)
df.Married.fillna('Yes',inplace=True)
df.Credit_History.fillna(df.Credit_History.max(),inplace=True)
df.LoanAmount.fillna(df.LoanAmount.mean(),inplace=True)
df.Loan_Amount_Term.fillna(df.Loan_Amount_Term.mean(),inplace=True)
df.Self_Employed.fillna('Yes',inplace=True)
df.Dependents.fillna(0,inplace=True)
df.Gender.value_counts()
gender_cat = pd.get_dummies(df.Gender,prefix='gender').gender_Male
df.Married.value_counts()
married_category = pd.get_dummies(df.Married,prefix='marriage').marriage_Yes
df.Education.value_counts()
graduate_category = pd.get_dummies(df.Education,prefix='education').education_Graduate
df.Self_Employed.value_counts()
self_emp_category = pd.get_dummies(df.Self_Employed,prefix='employed').employed_Yes
loan_status = pd.get_dummies(df.Loan_Status,prefix='status').status_Y
property_category = pd.get_dummies(df.Property_Area,prefix='property')

In [335]:
trainNew = pd.concat([df,gender_cat,married_category,graduate_category,self_emp_category,loan_status,property_category],axis=1)
trainNew.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,...,Property_Area,Loan_Status,gender_Male,marriage_Yes,education_Graduate,employed_Yes,status_Y,property_Rural,property_Semiurban,property_Urban
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,...,Urban,Y,1,0,1,0,1,0,0,1
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,...,Rural,N,1,1,1,0,0,1,0,0
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,...,Urban,Y,1,1,1,1,1,0,0,1
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,...,Urban,Y,1,1,0,0,1,0,0,1
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,...,Urban,Y,1,0,1,0,1,0,0,1

In [355]:
trainNew.columns
feature_columns = ['Credit_History','employed_Yes']

In [356]:
X = trainNew[feature_columns]
y =  trainNew['status_Y']

In [357]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.01,random_state=42)

In [358]:
X_train.shape

(607, 2)

In [359]:
X_test.shape

(7, 2)

In [360]:
randForest = RandomForestClassifier(n_estimators=25, min_samples_split=25, max_depth=7, max_features=1)
randForest.fit(X_train,y_train)
y_pred_class  = randForest.predict(X_test)
randForestScore = accuracy_score(y_test,y_pred_class)
%time print ("Random forest accuraccy score",randForestScore)

Random forest accuraccy score 1.0
CPU times: user 103 Âµs, sys: 91 Âµs, total: 194 Âµs
Wall time: 144 Âµs

In [361]:
randForestNew = RandomForestClassifier(n_estimators=25, min_samples_split=25, max_depth=7, max_features=1)
randForestNew.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=7, max_features=1, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=25,
            min_weight_fraction_leaf=0.0, n_estimators=25, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [362]:
df_test.shape
testData=df_test

In [363]:
df_test.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [364]:
testData.Gender.fillna("Male",inplace =True)
testData.Married.fillna("Yes",inplace=True)
testData.Credit_History.fillna(testData.Credit_History.max(),inplace=True)
testData.LoanAmount.fillna(testData.LoanAmount.mean(),inplace=True)
testData.Loan_Amount_Term.fillna(testData.Loan_Amount_Term.mean(),inplace=True)
testData.Self_Employed.fillna("Yes",inplace=True)
testData.Dependents.fillna(0,inplace=True)

In [365]:
gender_cat = pd.get_dummies(testData.Gender,prefix='gender').gender_Male
married_category = pd.get_dummies(testData.Married,prefix='marriage').marriage_Yes
graduate_category = pd.get_dummies(testData.Education,prefix='education').education_Graduate
self_emp_category = pd.get_dummies(testData.Self_Employed,prefix='employed').employed_Yes
property_category = pd.get_dummies(testData.Property_Area,prefix='property')

In [366]:
testDataNew = pd.concat([testData,gender_cat,married_category,graduate_category,self_emp_category,property_category],axis=1)

In [367]:
X_testData = testDataNew[feature_columns]
X_testData.head()

   Credit_History  employed_Yes
0             1.0             0
1             1.0             0
2             1.0             0
3             1.0             0
4             1.0             0

In [368]:
y_test_pread_class = randForestNew.predict(X_testData)
randForestFormat = ["Y" if i == 1 else "N" for i in y_test_pread_class ]
pd.DataFrame({'Loan_ID':testData.Loan_ID,'Loan_Status':randForestFormat}).to_csv('radom_forest_submission.csv',index=False)

In [369]:
from sklearn.linear_model import LogisticRegression
logReg = LogisticRegression()
logReg.fit(X_train,y_train)
logREg_predict =logReg.predict(X_test)
accuracy_score(y_test,logREg_predict)

1.0

In [370]:
logReg_y_prediction_class = logReg.predict(X_testData)

In [371]:
logRegPredictionFormat = ["Y" if i == 1 else "N" for i in logReg_y_prediction_class ]

In [372]:
pd.DataFrame({'Loan_ID':testData.Loan_ID,'Loan_Status':logRegPredictionFormat}).to_csv('ML/SAMPLE_submission.csv',index=False)

In [373]:
randForestNew.score(X,y)

0.8127035830618893